.list {
    height: 100px;
    overflow-y: scroll;
    padding: 0 10px;
    margin: 0;
    list-style: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
   
}

.listItem {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.listItemActive {
    background-color: #ccc;
}

.listItem :first-child {
    
}

