@mixin defaultMessageBubble {
    border-radius: 8px;
    padding: 4px;
}

.hostMessage {
    align-self: flex-end;
    max-width: 60%;
    margin-right: 8px;

    &> :nth-child(2) {
        @include defaultMessageBubble;
        background-color: blue;
    }

}

.message {
    max-width: 60%;
    width: fit-content;

    & > :nth-child(2) {
        @include defaultMessageBubble;
        background-color: grey;
    }
}