@use "@/app/variables.scss";

@mixin LinkColor {
  @include variables.LinkColor;
}

@mixin ActionButton {
  @include variables.ActionButton;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > :first-child {
    border-radius: 100%;
  }

  & > :last-child {
    margin-left: 8px;
    cursor: pointer;
  }

  & h3 {
    @include variables.BoldGreenRegular;
    font-size: 16px;
  }

  & p {
    @include variables.RegularBlack;
    color: #37413b;
    font-size: 12px;
  }
}
