@mixin LinkColor {
  color: #387ab7;
  text-align: right;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin RegularBlack {
  color: #000;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin BoldGreenRegular {
  color: #01ad60;
  font-family: sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.options a {
  @include LinkColor;
  text-decoration: none;
  font-size: 16px;
}

.options p {
  @include RegularBlack;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 700px;
  padding: 0px 40px;
}

.wrapper {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: auto;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px 1px #84cfa64b;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

.options > :last-child {
  text-align: right;
}

.credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.wrapper > h2 {
  @include BoldGreenRegular;
  font-size: 24px;
  margin-bottom: 20px;
}

.wrapper > p {
  @include RegularBlack;
  font-size: 16px;
  margin-bottom: 20px;
}
