@use "@/app/variables.scss";

@mixin LinkColor {
  @include variables.LinkColor;
}

@mixin RegularBlack {
  @include variables.RegularBlack;
}

@mixin BoldGreenRegular {
  @include variables.BoldGreenRegular;
}

@mixin DefaultCard {
  @include variables.DefaultCard;
}

.options a {
  @include LinkColor;
  text-decoration: none;
  font-size: 16px;
}

.options p {
  @include RegularBlack;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
}

.container {
  @include DefaultCard;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

.options > :last-child {
  text-align: right;
}

.wrapper > h2 {
  @include BoldGreenRegular;
  font-size: 24px;
  margin-bottom: 16px;
}

.wrapper > p {
  @include RegularBlack;
  font-size: 16px;
  margin-bottom: 16px;
}
