@use '@/app/variables.scss' as variables;

@mixin DefaultContent { @include variables.DefaultContent; }



.content {
    @include DefaultContent;

}

.wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0px 16px;
}