@use "@/app/variables.scss";

.container {

    background-color: variables.$PrimaryBlue;
    padding: 32px;
    border-radius: 32px 32px 0 0;


    & h1 {
        @include variables.H2SemiBold;
        margin-bottom: 16px;
        color: white;
        
    }

    
}