@use "@/app/variables.scss";


.container {
  margin-bottom: 128px;
}


.media {
  background-color: variables.$PrimaryBlue;
  padding: 32px;
  border-radius: 32px 32px 0 0;
  align-items: center;

  & h1 {
    @include variables.H2SemiBold;
    margin-bottom: 16px;
    color: white;
  }
}

.details,
.moreDetails {
  padding: 32px;
  padding-bottom: 64px;
  border-radius: 0 0 32px 32px;
  border: 2px solid black;
}

.mediaContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@media (min-width: 512px) and (max-width: 671px) {
  .mediaContainer {
    :last-child {
      margin-left: 32px;
    }
  }
}

@media (max-width: 511px) {
  .mediaContainer {
    justify-content: center;
  }
}

@media (min-width: 672px) {
  .container {
    width: 100%;

    display: flex;
    flex-direction: row;
  }

  .media {
    border-radius: 32px 0 0 32px;
  }

  .details, .moreDetails {
    width: 100%;
    border-radius: 0 32px 32px 0;
  }
}

.containedDetails, 
.details,
.moreDetails {
  display: none;
}

@media (min-width: 672px) {
  .details {
    display: flex;
  }
}

@media (max-width: 671px) {
  .moreDetails {
    display: flex;
  }
}

@media (min-width: 512px) and (max-width: 671px) {
  .containedDetails{
    display: flex;
  }


}