
.list {
    padding-top: 20px;
    border-top: 1px solid #13aa5f
}



.options label {
    margin: 0px 12px
}

.filters > :last-child {
    padding-left: 8px
}

.filterBody {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.linkBody  {
    width: 100%;
    display: flex;
    justify-content: right;
}

.linkBody :first-child {
    display: flex;
   justify-content: center;
   text-align: center;
   width: 40%;
   background-color: #13aa5f;
    color: #fff;
    padding: 8px 0px;
    border-radius: 4px;
    margin-top: 8px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    text-decoration: none;

}
