.option {
  margin-right: 4px;
  cursor: pointer;
  border-radius: 8px;

  & :hover {
    background-color: grey;
    border-radius: 8px;
  }

  & h2 {
    font-size: 16px;
    padding: 4px 4px;
  }
}

.activeOption {
  margin-right: 4px;
  cursor: pointer;
  background-color: blue;
  border-radius: 8px;

  & :hover {
    background-color: grey;
    border-radius: 8px;
  }

  & h2 {
    font-size: 16px;
    padding: 4px 4px;
  }
}

.group {
  margin-bottom: 16px;
}
